# Entornos virtuales
venv/
.venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo

# Carpetas de IDE
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpeta de pruebas locales
tests/

# Borradores
*.tmp
*.bak